@import url( 'https://fonts.googleapis.com/css?family=Arvo');

body {
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;

  .site {
    display: grid;
    grid-template-columns: 2fr 4fr;

    header {
      background: darkgrey;
      grid-column: 1 / 2;

      #logo {
        width: 30%;
      }
    }

    nav {
      grid-column-start: 2;
      grid-row-start: 1;
      background-color: darkgrey;

      .container {
        display: grid;
        grid-auto-flow: column;


        a {
          display: flex;
          justify-content: center;
          font-family: "Arvo";
          text-decoration: none;
          color: black;
          background-color: red;
        }
      }
    }
  }
}
